@{
    ViewBag.Title = "LoginSuccess";
}

@*<h2>@ViewBag.Enterprise_ID 登录成功</h2>*@
<!DOCTYPE html>

<html>
<head>
    <title>Usermanage</title>
    <script src="~/Content/Easyui/jquery.min.js"></script>
    <script src="~/Content/Easyui/jquery.easyui.min.js"></script>
    <script src="~/Content/Easyui/easyui-lang-zh_CN.js"></script>
    <link href="~/Content/Easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Content/Easyui/themes/icon.css" rel="stylesheet" />
    
</head>
<body class="easyui-layout">
	<div region="north" border="false" style="overflow: hidden; height: 70px;
        background: url(../../Content/image/head-bg.gif) #fff repeat-x;
        line-height: 40px;color: #fff; font-family: Verdana, 微软雅黑,黑体">
        <span style="float:right; padding-right:20px;">
            欢迎 Admin 
            <a href="#" id="editpass">修改密码</a> 
            <a href="#" id="loginOut">安全退出</a>
        </span>
        <span style="padding-left:10px; font-size: 16px; "><img src="~/Content/image/logo.png" /></span>
    </div>
    <div id="mm1" style="width:150px;">
        <div>修改密码</div>
        <div>安全退出</div>
    </div>
	<div data-options="region:'south',border:false" style="height:32px;background:#A9FACD;overflow:hidden;background: url(../../Content/image/foot-bg.gif) repeat-x;">
        <div style="text-align:center;color:#15428B;font-weight:bold;">Copy Right</div>
	</div>
	<div data-options="region:'center'">
        <div id="maintabs" class="easyui-tabs"  style="height:auto" >
            <div title="Index">
                this is index
            </div>
        </div>
	</div>
</body>

</html>